main {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.container {
  display: flex;
  align-items: center;
  border: 1px solid #eaeced;
  border-radius: 10px;
  height: 550px;
  width: 500px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.container img {
  width: 35px;
  display: flex;
}

.login {
  align-items: center;
  margin-top: 30px;
  color: blue;
  display: flex;
  flex-direction: column;
}
input {
  height: 50px;
  border: 1px solid #9da3a6;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 140%;
}
.login p {
  text-align: center;
  color: #0070ba;
  font-family: helvetica;
  font-weight: bold;
}

/* RESPONSIVE RULES */

@media (max-width: 760px) {
  .container {
    border: none;
  }
  .login {
    width: 200%;
  }
}
