.wrapper {
  border: 1px solid #eaeced;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  width: 400px;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 35px;
  display: flex;
}

.login {
  width: 350px;
  margin-top: 30px;
  color: blue;
  display: flex;
  flex-direction: column;
  padding: 0px 42px 36px;
}
input {
  height: 50px;

  border: 1px solid #9da3a6;
  border-radius: 4px;
  margin-bottom: 20px;
}
.login p {
  color: #0070ba;
  font-family: helvetica;
  font-weight: bold;
}

/* RESPONSIVE RULES */

@media (max-width: 760px) {
  .wrapper {
    border: none;
  }
}
