.signup button {
  cursor: pointer;
  font-family: helvetica;
  font-size: 15px;
  background-color: white;
  transition: background-color 0.5s;
  color: #0070ba;
  font-weight: bold;
  text-align: center;
  border: 1px solid #0070ba;
  padding: 15px;
  border-radius: 50px;
  width: 350px;
}
.signup button:hover {
  transition: 0.3s ease;
  border: 2px solid #0f54a9;
}
